@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'giadif_website';
    src: url('../font/giadif_website.eot?68606185');
    src: url('../font/giadif_website.eot?68606185#iefix') format('embedded-opentype'),
         url('../font/giadif_website.woff?68606185') format('woff'),
         url('../font/giadif_website.ttf?68606185') format('truetype'),
         url('../font/giadif_website.svg?68606185#giadif_website') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------------------    COMMON    ---------------------------------------- */

:root {
    --primary_color: aqua;
    --secondary_color: rgb(20, 140, 210);
    --background_color: rgb(40, 40, 40);
    --background_color_dark: rgb(20, 20, 20);
    --background_color_light: rgb(90, 90, 100);
    --navbar_color_hero: rgba(20, 20, 20, 0.5);
    --navbar_color_navigation: rgb(50, 60, 70);
    --text_color: white;

    --navigation_position: 260;

    --flag_width: 46px;
    --flag_height: 28px;

    --neon_animation_duration: 300ms;
    --fadein_animation_duration: 1000ms;

    --section_title_top: 45px;

    --can_hover: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    min-width: fit-content;
    visibility: hidden;
    color: var(--text_color);
}

body.visible {
    visibility: visible;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: var(--text_color);
}

.section {
    position: relative;
    display: flex;
    background-color: var(--background_color);
}

.section-title {
    position: absolute;
    left: 20px;
    top: var(--section_title_top);
    font-size: 18rem;
    font-weight: 300;
    opacity: .3;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: calc(var(--section_title_top) + 11rem) 8vw 0px 8vw;
    z-index: 1;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.neon,
.neon_secondary {
    transition: color .2s;
}

.neon.neon_animation,
.neon_secondary.neon_animation {
    animation: neon var(--neon_animation_duration);
}

.icon {
    font-family: "giadif_website";
    font-style: normal;
    font-weight: normal;
    
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
     
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
     
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box {
    position: relative;
}

.box::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background_color_light);
    box-shadow: 5px 5px 5px var(--background_color_dark);
    opacity: .6;
    z-index: -1;
}

/* ----------------------------------------    HEADER    ---------------------------------------- */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
}

#header.hidden {
    transform: translateY(-100%);
}

#header .navbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--navbar_color_hero);
    transition: background-color .2s;
}

#header .navbar .hamburger {
    display: none;
}

#header .navbar.navigating {
    background-color: var(--navbar_color_navigation);
}

#header .navbar .brand h1 {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px;
}

#header .navbar .navlist {
    list-style: none;
}

#header .navbar .navlist li {
    display: inline;
}

#header .navbar .navlist li a {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 20px;
}

/* ----------------------------------------     HERO     ---------------------------------------- */

#hero {
    position: relative;
    background-image: url('/assets/img/hero-background.jpeg');
    background-size: cover;
    background-position-x: 80% !important;
    min-height: 102vh;
    min-height: calc(var(--vh, 1vh) * 102);
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 99%, var(--background_color) 100%);
}

#hero.section {
    justify-content: flex-start;
}

#hero .container {
    margin: 0px;
    width: 100vw;
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero .container .brand {
    position: relative;
    z-index: 1;
    left: 14%;
}

#hero .container .brand .hidden {
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

#hero .container .brand .fadein {
    transition: opacity var(--fadein_animation_duration);
}

#hero .container .brand h1 {
    font-size: 5rem;
    font-weight: 600;
}

#hero .container .brand h2 {
    font-size: 3rem;
    font-weight: 200;
}

#hero .container .brand a {
    display: inline-block;
    max-width: 300px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary_color);
    font-size: 2rem;
    padding: 1rem 3rem;
    margin-top: 10px;
    border: var(--primary_color) solid 2px;
    background-color: transparent;
    transition: background-color .3s, color .3s;
}

#hero .container .brand a:hover {
    background-color: var(--primary_color);
    color: black;
}

/* ----------------------------------------    ABOUT     ---------------------------------------- */

#about .container {
    display: flex;
    flex-direction: column;
}

#about .box::before {
    background-color: var(--secondary_color);
}

#about .container .profile {
    display: flex;
}

#about .container .profile img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: 20px;
}

#about .container .profile > div p {
    position: relative;
    font-size: 2rem;
    font-weight: 200;
    padding: 20px;
}

#about .container .profile > div > div {
    margin: 10px;
    margin-top: 20px;
}

#about .container .profile > div > div .contacts,
#about .container .profile > div > div .social {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 16px;
}

#about .container .profile h1 {
    font-size: 3rem;
    font-weight: 300;
}

#about .container .profile > div > div .contacts > div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    margin-top: 8px;
}

#about .i-wrapper {
    min-width: 2.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .container .profile > div > div .contacts > div span {
    padding: 8px;
    white-space: nowrap;
}

#about .container .profile > div > div .social .icons a {
    display: inline-block;
    margin: 8px 4px 0px 8px;
}

#about .container .profile .icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    transition: background-image .1s linear;
}

#about .container .profile > div > div .social .icons a .icon-linkedin {
    background-image: url(/assets/img/icons/linkedin.png);
}

#about .container .profile > div > div .social .icons a .icon-linkedin:hover {
    background-image: url(/assets/img/icons/linkedin_hover.png);
}

#about .container .profile > div > div .social .icons a .icon-github {
    background-image: url(/assets/img/icons/github.png);
}

#about .container .profile > div > div .social .icons a .icon-github:hover {
    background-image: url(/assets/img/icons/github_hover.png);
}

#about .container .profile > div > div .social .icons a .icon-instagram {
    background-image: url(/assets/img/icons/instagram.png);
}

#about .container .profile > div > div .social .icons a .icon-instagram:hover {
    background-image: url(/assets/img/icons/instagram_hover.png);
}

#about .container .profile > div > div .social .icons a .icon-facebook {
    background-image: url(/assets/img/icons/facebook.png);
}

#about .container .profile > div > div .social .icons a .icon-facebook:hover {
    background-image: url(/assets/img/icons/facebook_hover.png);
}

#about .container .reviews {
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

/* ----------------------------------------  EXPERIENCE  ---------------------------------------- */

#experience.section {
    min-height: 100vh;
}

/* ----------------------------------------    SKILLS    ---------------------------------------- */

#skills.section {
    min-height: 100vh;
}

#skills .container {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

#skills .container .box {
    align-items: stretch;
}

#skills .container .box h1 {
    font-size: 3rem;
    font-weight: 400;
    margin: 4px 0px 0px 10px;
}

#skills .container .skill-list {
    list-style: none;
    margin-right: 10px;
}

#skills .container .skill-list li {
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

#skills .container ul li:nth-child(1) {
    margin-top: 0px;
}

#skills .container ul li:nth-last-child(1) {
    margin-bottom: 0px;
}

#skills .skill-item {
    margin: 8px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 2px 2px 5px var(--background_color_dark);
    border-radius: 2%;
    cursor: pointer;
    width: fit-content;
}

#skills .skill-item h2 {
    color: black;
    font-weight: 600;
    text-align: center;
    margin: 6px;
    font-size: 1.7rem;
}

#skills .skill-item .skill-icon {
    width: 80px;
    height: 80px;
    margin: 20px;
}

#skills .container .skill-preview {
    width: 60%;
    padding: 10px;
    margin-left: 10px;
    display: none;
}

#skills .container .skill-preview .skill-brief .skill-item {
    margin-right: 20px;
}

#skills .container .skill-preview .skill-brief {
    margin: 8px;
    display: flex;
}

#skills .container .skill-preview .skill-brief .skill-item .skill-icon {
    width: 120px;
    height: 120px;
}

#skills .container .skill-preview .skill-brief div h2 {
    font-size: 2.6rem;
    font-weight: 400;
    margin-bottom: 4px;
}

#skills .container .skill-preview .skill-brief .skill-item h2 {
    color: transparent;
}

#skills .icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* ----------------------------------------  EDUCATION   ---------------------------------------- */

#education .container {
    position: relative;
    flex-direction: column;
    justify-self: stretch;
    flex: 1 1 0px;
}

#education .container .box {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    width: 100%;
    margin: 10px;
    padding: 10px;
}

#education .container .box a {
    margin: 10px;
    margin-right: 30px;
}

#education .container .box a img {
    width: 130px;
}

#education .container .mmus a img {
    border-radius: 8%;
}

#education .container .box .edu-descr {
    margin: 8px;
}

#education .container .box .edu-descr h1 {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: .4rem;
}

#education .container .box .edu-descr h2,
#education .container .box .edu-descr h2 {
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    margin-bottom: 1rem;
}

#education .container .box .edu-descr h3 {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 3rem;
    font-weight: 400;
    opacity: .5;
    margin-right: 6px;
}

#education .container .box .edu-descr p {
    margin-bottom: .4rem;
    font-size: 1.6rem;
}

/* ----------------------------------------   PROJECTS   ---------------------------------------- */

#projects.section {
    min-height: 100vh;
}

/* ----------------------------------------   MESSAGE    ---------------------------------------- */

#message {
    position: absolute;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0;
    animation: message_animation 3s;
    transition: opacity, transform;
}

/* ----------------------------------------  ANIMATIONS  ---------------------------------------- */

@keyframes neon {
    50% {
        text-shadow: 0 0 1rem var(--secondary_color);
    }
    100% {
        text-shadow: 0 0 0px var(--secondary_color);
    }
}

@keyframes neon_mobile {
    50% {
        text-shadow: 0 0 1rem var(--secondary_color);
        color: var(--primary_color);
    }
    100% {
        text-shadow: 0 0 0px var(--secondary_color);
    }
}

@keyframes neon_mobile_secondary {
    50% {
        text-shadow: 0 0 1rem var(--secondary_color);
        color: var(--secondary_color);
    }
    100% {
        text-shadow: 0 0 0px var(--secondary_color);
    }
}

@keyframes message_animation {
    0% {
        transform: translateY(-80%);
    }
    15%,70% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* ----------------------------------------   HOVERING   ---------------------------------------- */
@media (any-hover: hover) {
    :root {
        --can_hover: 1;
    }

    .neon_activator:hover .neon,
    .neon_activator.neon:hover {
        color: var(--primary_color) !important;
    }

    .neon_activator:hover .neon_secondary,
    .neon_activator.neon_secondary:hover {
        color: var(--secondary_color) !important;
    }

    #skills .skill-item {
        transition: background-color .1s linear;
    }

    #skills .skill-item:hover {
        background-color: white;
    }

    #education .box::before {
        transition: background-color .1s linear;
    }

    #education .box:hover::before {
        background-color: var(--secondary_color);
    }
}