@media only screen and (max-width: 600px) {
/* ----------------------------------------   COMMON   ---------------------------------------- */
:root {
    --navigation_position: 80;

    --section_title_top: 60px;
}
        
html {
    font-size: 8px;
}

.section-title {
    font-size: 6.5rem;
    left: 4px;
}

.container {
    margin: calc(var(--section_title_top) + 3.5rem) 5vw 0px 5vw;
}
    
/* ----------------------------------------   HEADER   ---------------------------------------- */

#navbar .brand h1 {
    font-size: 3rem;
}

#navlist li a {
    font-size: 3rem;
}
        
/* ----------------------------------------    HERO    ---------------------------------------- */

#hero.section {
    justify-content: center;
}

#hero .container {
    justify-content: center;
    text-align: center;
}

#hero-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: unset;
}

#hero-main h1 {
    font-size: 4.5rem;
}

#hero-main h2 {
    font-size: 2.5rem;
}

#hero-main a {
    text-align: center;
    width: 220px;
}

/* ----------------------------------------    ABOUT     ---------------------------------------- */

#about .i-wrapper {
    min-width: unset;
    margin: 0px 2px 0px 2px;
}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile h1 {
    align-self: center;
}

#profile > div p {
    order: 1;
    grid-row: unset;
    grid-column-start: unset;
    grid-column-end: unset;
}

#profile > div > div {
    order: 2;
    grid-row: unset;
    grid-column: unset;
    margin: 10px;
}

#contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    align-items: center;
}

#profile img {
    order: 3;
    grid-row: unset;
    grid-column: unset;
    justify-self: unset;
    margin: 0px;
}

#social {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------    SKILLS    ---------------------------------------- */

#skills .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#skills .icons > li {
    margin: 6px;
}

#skills .icons > li:nth-child(1) {
    margin: 6px;
}

#skills .icons > li:nth-last-child(1) {
    margin: 6px;
}

#skills .skill-item .skill-icon {
    width: 60px;
    height: 60px;
    margin: 16px;
}

/* ----------------------------------------  EDUCATION   ---------------------------------------- */

#education .container .box {
    position: relative;
    display: block;
    padding: 6px;
}

#education .container .box .edu-descr {
    display: contents;
    margin: unset;
}

#education .container .box a {
    float: left;
    margin: 0px 6px 6px 0px;
}

#education .container .box a img {
    width: 68px;
    padding: 4px;
}

#education .container .box .edu-descr h1 {
    font-size: 1.8rem;
}

#education .container .box .edu-descr h3 {
    font-size: 2rem;
}

#education .container .box .edu-descr p {
    display: block;
    clear: left;
}
}