@media only screen and (max-width: 600px) {
/* ----------------------------------------   COMMON   ---------------------------------------- */
:root {
    --navigation_position: 80;

    --section_title_top: 60px;
}
        
html {
    font-size: 8px;
}

.section-title {
    font-size: 6.5rem;
    left: 4px;
}

.container {
    margin: calc(var(--section_title_top) + 5rem) 5vw 10px 5vw;
}

.box {
    padding: 5px;
}
    
/* ----------------------------------------   HEADER   ---------------------------------------- */

#navbar .brand h1 {
    font-size: 3rem;
}

#navlist li a {
    font-size: 3rem;
}
        
/* ----------------------------------------    HERO    ---------------------------------------- */

#hero.section {
    justify-content: center;
}

#hero .container {
    justify-content: center;
    text-align: center;
}

#hero-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: unset;
}

#hero-main h1 {
    font-size: 4.5rem;
}

#hero-main h2 {
    font-size: 2.5rem;
}

#hero-main a {
    text-align: center;
    width: 220px;
}

/* ----------------------------------------    ABOUT     ---------------------------------------- */

#about .i-wrapper {
    min-width: unset;
    margin: 0px 2px 0px 2px;
}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile h1 {
    align-self: center;
}

#profile > div p {
    order: 1;
    grid-row: unset;
    grid-column-start: unset;
    grid-column-end: unset;
}

#profile > div > div {
    order: 2;
    grid-row: unset;
    grid-column: unset;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

#contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    align-items: center;
    width: 100%;
}

#profile img {
    order: 3;
    grid-row: unset;
    grid-column: unset;
    justify-self: unset;
    margin: 0px;
}

#social {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#social .icons a {
    margin: 10px 5px 0px 5px;
}

/* ----------------------------------------    SKILLS    ---------------------------------------- */

#skill-preview {
    width: calc(100% - 10vw);
    margin: 0px 5vw 0px 5vw;
}

#skills .skill-item,
#skill-preview .skill-item {
    width: auto;
    height: auto;
}

#skill-preview .skill-item {
    margin: 15px 15px 5px 10px;
}

#skills .skill-item .skill-icon,
#skill-preview .skill-item .skill-icon {
    width: 65px;
    height: 65px;
    margin: 10px 15px 10px 15px;
}

#skill-projects-content .skill-projects-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

#skills .skill-item .skill-name,
#skill-preview .skill-item .skill-name {
    margin-top: 10px;
    margin-bottom: 10px;
}

#skill-brief .skill-name {
    display: none;
}

#skill-details-title {
    display: none;
}

#skill-brief h3 span {
    display: block;
}

#skill-brief h3 .value {
    font-size: 1.9rem;
}

#skill-descr {
    margin-top: 5px;
}

#skill-preview h1 {
    margin-top: 0px;
}

/* ----------------------------------------  EDUCATION   ---------------------------------------- */

#education .container ul .box {
    position: relative;
    display: block;
}

#education .container ul .box .edu-descr {
    display: contents;
    margin: unset;
}

#education .container ul .box > a {
    float: left;
    margin: 0px 6px 6px 0px;
}

#education .container ul .box > a img {
    width: 68px;
    padding: 4px;
}

#education .container ul .box .edu-descr h1 {
    font-size: 1.8rem;
}

#education .container ul .box .edu-descr h3 {
    font-size: 2rem;
}

#education .container ul .box .edu-descr p {
    display: block;
    clear: left;
}

/* ----------------------------------------  PROJ-THUMBN ---------------------------------------- */


}