@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ----------------------------------------   COMMON   ---------------------------------------- */

:root {
    --primary_color: aqua;
    --secondary_color: steelblue;
    --background_color: rgb(40, 40, 40);
    --background_color_dark: rgb(20, 20, 20);
    --navbar_color_hero: rgba(20, 20, 20, 0.5);
    --navbar_color: rgb(40, 50, 60);

    --navigation_position: 260;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--background_color);
}

input,
textarea,
button,
select,
a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.section-title {
    position: absolute;
    font-size: 16rem;
    color: whitesmoke;
    font-weight: 300;
    opacity: 0.3;
    transform: translate3d(100px, 100px, 0px);
    z-index: 2;
}

.neon {
    transition: color .4s;
}

*:hover > .neon {
    color: var(--primary_color) !important;
    animation: neon .4s;
}

/* ----------------------------------------   HEADER   ---------------------------------------- */

#header {
	left: 0;
	top: 0;
    position: fixed;
	z-index: 1000;
}

#header .container {
    background-color: var(--navbar_color_hero);
    width: 100vw;
    min-height: unset;
    justify-content: space-around;
    transition: background-color .3s;
}

#header .container.navigation {
    background-color: var(--navbar_color);
}

#header .container .brand h1 {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    padding: 6px;
}

#header .container .nav-list .hamburger {
    position: relative;
    display: none;
    width: 60px;
    height: 60px;
    transform: scale(0.8);
    border: white solid 3px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#header .container .nav-list .hamburger::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: white solid 3px;
    animation: hamburger_pulse 3s infinite;
}

#header .container .nav-list .hamburger.active::after {
    animation: none;
}

#header .container .nav-list .hamburger .bar {
    width: 30px;
    height: 2px;
    background-color: white;
    position: relative;
}

#header .container .nav-list .hamburger .bar::before,
#header .container .nav-list .hamburger .bar::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: white;
}

#header .container .nav-list .hamburger .bar::before {
    bottom: 8px;
    transition: bottom .3s;
}

#header .container .nav-list .hamburger .bar::after {
    top: 8px;
    transition: top .3s;
}

#header .container .nav-list .hamburger.active .bar::before {
    bottom: 0;
}

#header .container .nav-list .hamburger.active .bar::after {
    top: 0;
}

#header .container .nav-list ul {
    list-style: none;
}

#header .container .nav-list ul li {
    display: inline;
}

#header .container .nav-list ul li a {
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 20px;
}

/* ----------------------------------------    HERO    ---------------------------------------- */

#hero .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url('/assets/img/hero-background.jpeg');
    background-size: cover;
    background-position-x: 80% !important;
    height: 102vh;
}

#hero .container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 99%, var(--background_color) 100%);
}

#hero .container .brand {
    margin: 0px 15vw;
}

#hero .container .brand h1 {
    font-size: 5rem;
    font-weight: 600;
    color: white;
}

#hero .container .brand h2 {
    font-size: 3rem;
    font-weight: 200;
    color: white;
}

#hero .container .brand a {
    display: inline-block;
    margin: 0 auto;
    max-width: 300px;
    text-transform: uppercase;
    color: var(--primary_color);
    font-size: 2rem;
    padding: 1rem 3rem;
    border: var(--primary_color) solid 2px;
    background-color: transparent;
    margin-top: 15px;
    transition: all .3s;
}

#hero .container .brand a:hover {
    color: black;
    background-color: var(--primary_color);
}

/* ----------------------------------------   ABOUT    ---------------------------------------- */

#about .container .content {
    padding: 80px 160px;
}

#about .container .content img {
    width: 15vw;
    float: left;
    margin: 0px 30px;
}

#about .container .content p {
    font-size: 2.2rem;
    color: whitesmoke;
    font-weight: 200;
}

/* ---------------------------------------- EXPERIENCE ---------------------------------------- */


/* ---------------------------------------- EDUCATION  ---------------------------------------- */


/* ----------------------------------------   SKILLS   ---------------------------------------- */


/* ----------------------------------------  PROJECTS  ---------------------------------------- */


/* ---------------------------------------- ANIMATIONS ---------------------------------------- */

@keyframes neon {
    50% {
        text-shadow: 0 0 1.3rem var(--secondary_color);
    }
    100% {
        text-shadow: 0 0 0px var(--secondary_color);
    }
}

@keyframes hamburger_pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    33% {
        opacity: 0;
        transform: scale(1.3);
    }
    100% {
        opacity: 0;
    }
}

/* ----------------------------------------   TABLET   ---------------------------------------- */

@media only screen and (max-width: 1024px) {
    :root {
        --navbar_color_hero: transparent;
    }

    .section-title {
        display: none;
    }

    #header .container {
        justify-content: space-between;
    }

    #header .container .brand {
        margin-left: 8px;
        opacity: 0;
        transition: opacity .2s;
    }

    #header .container.navigation .brand {
        opacity: 1;
    }

    #header .container .nav-list .hamburger {
        display: flex;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 6px;
    }

    #header .container .nav-list ul {
        position: absolute;
        top: 0;
        left: 100vw;
        width: 100vw;
        height: 100vh;
        background-color: var(--background_color_dark);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: -1;
        transition: left .5s;
    }

    #header .container .nav-list ul.active {
        left: 0;
    }

    #header .container .nav-list ul li {
        display: block;
        padding: 4vh 3rem;
    }

    #header .container .nav-list ul li a {
        font-size: 3.5rem;
    }

    #hero .container .brand {
        margin: 0px 10vw;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --navigation_position: 80;
    }
    
    html {
        font-size: 8px;
    }

    #header .container .nav-list ul li a {
        font-size: 3rem;
    }

    #hero .container {
        justify-content: center;
        text-align: center;
    }

    #hero .container .brand {
        align-items: center;
        margin: 0px 0px;
    }

    #hero .container .brand a {
        max-width: 220px;
        display: block;
        text-align: center;
        padding: 1rem 1rem;
        margin: 1rem auto;
    }
}