@media only screen and (max-width: 1366px) {
/* ----------------------------------------   COMMON   ---------------------------------------- */

:root {
    --navbar_color_hero: transparent;

    --navigation_position: 200;
}

html {
    font-size: 9px;
}

body {
    min-width: unset;
}

body.stop_scroll {
    height: 100%;
    overflow: hidden;
}

.section {
    overflow: hidden;
}

.section-title {
    font-size: 13rem;
}

.container {
    margin: calc(var(--section_title_top) + 10rem) 7.5vw 10px 7.5vw;
}

.neon.neon_animation {
    animation: neon_mobile var(--neon_animation_duration);
}

.neon_secondary.neon_animation {
    animation: neon_mobile_secondary var(--neon_animation_duration);
}

/* ----------------------------------------    HEADER    ---------------------------------------- */

#header.hidden {
    transform: none;
}

#navbar {
    position: relative;
    justify-content: space-between;
}

#navbar .brand {
    pointer-events: none;
}

#navbar .brand.inactive {
    pointer-events: none;
}

#navbar.navigating .brand {
    pointer-events: visible;
}

#navbar .brand h1 {
    position: relative;
    opacity: 0;
    transition: opacity .2s;
    margin-left: 10px;
}

#navbar.navigating .brand h1 {
    opacity: 1;
}
    
#hamburger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
}

#header.hidden #hamburger {
    transform: translateX(100px);
}

#hamburger .bar {
    position: relative;
    width: 25px;
    height: 3px;
    background-color: white;
}

#hamburger .bar::before,
#hamburger .bar::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

#hamburger .bar::before {
    bottom: 7px;
    transition: bottom .3s;
}

#hamburger.active .bar::before {
    bottom: 0px;
}

#hamburger .bar::after {
    top: 7px;
    transition: top .3s;
}

#hamburger.active .bar::after {
    top: 0px;
}

#navlist {
    position: absolute;
    top: 0;
    left: 100vw;
    width: 100vw;
    transition: left .5s;
    transition-delay: .2s;
    height: 100vh;
    background-color: var(--background_color_dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#navlist.active {
    left: 0;
    transition-delay: 0s;
}

#navlist li {
    padding: 2.5rem;
}

#navlist li a {
    font-size: 3.5rem;
}

/* ----------------------------------------    ABOUT     ---------------------------------------- */

#profile {
    display: grid;
    grid-template-columns: auto 210px;
}

#profile > div {
    display: contents;
}

#profile h1 {
    font-size: 2.6rem;
}

#contacts,
#social {
    font-size: 1.8rem;
}

#profile > div p {
    font-size: 1.8rem;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
}

#profile > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 2;
    grid-column: 1;
}

#profile .icon {
    width: 32px;
    height: 32px;
}

#profile img {
    width: 200px;
    height: 200px;
    grid-row: 2;
    grid-column: 2;
    justify-self: right;
    align-self: center;
    margin: 10px;
    margin-left: 0px;
}

/* ----------------------------------------     HERO     ---------------------------------------- */


/* ----------------------------------------    SKILLS    ---------------------------------------- */

#skills .container {
    flex-direction: column;
    align-items: center;
}

#skill-preview .skill-item {
    margin-right: 20px;
}

#skill-projects-wrapper {
    overflow: scroll;
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 1) 10px, rgba(0, 0, 0, 1) calc(100% - 10px), rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 1) 10px, rgba(0, 0, 0, 1) calc(100% - 10px), rgba(0, 0, 0, 0) 100%);
}

#skill-preview-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 20px 0px 20px 0px;
}

#skill-preview {
    width: calc(100% - 15vw);
    max-height: calc(100% - min(15vw, 15vh));
    margin: 0px 7.5vw 0px 7.5vw;
    overflow: hidden;
}

#skill-message {
    display: none;
}

#skills .container .box h1 {
    text-align: center;
    margin: 0px;
}

#skills .container .box .icons {
    justify-content: center;
}

#skills .icons {
    flex-flow: row wrap;
}

#skills .icons > li {
    margin: 5px;
}

#skills .icons > li:nth-child(1) {
    margin: 5px;
}

#skills .icons > li:nth-last-child(1) {
    margin: 5px;
}

.fa-angle-double-left {
    font-size: 4rem;
    padding: 10px;
    margin: 10px -10px 0px -10px;
}

/* ----------------------------------------  EDUCATION   ---------------------------------------- */

/* ----------------------------------------  PROJ-THUMBN ---------------------------------------- */

.project-thumbnail .space {
    height: 20rem;
}

.project-thumbnail h2 {
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    line-height: 4rem;
    z-index: 2;
    justify-self: end;
}

}