@media only screen and (max-width: 1366px) {
/* ----------------------------------------   COMMON   ---------------------------------------- */

:root {
    --navbar_color_hero: transparent;

    --navigation_position: 200;
}

html {
    font-size: 9px;
}

body {
    min-width: unset;
}

body.stop_scroll {
    height: 100%;
    overflow: hidden;
}

.section {
    overflow: hidden;
}

.section-title {
    font-size: 13rem;
}

.container {
    margin-top: calc(var(--section_title_top) + 8.5rem);
}

.neon.neon_animation {
    animation: neon_mobile var(--neon_animation_duration);
}

.neon_secondary.neon_animation {
    animation: neon_mobile_secondary var(--neon_animation_duration);
}

/* ----------------------------------------    HEADER    ---------------------------------------- */

#header.hidden {
    transform: none;
}

#header .navbar {
    position: relative;
    justify-content: space-between;
}

#header .navbar .brand {
    pointer-events: none;
}

#header .navbar .brand.inactive {
    pointer-events: none;
}

#header .navbar.navigating .brand {
    pointer-events: visible;
}

#header .navbar .brand h1 {
    position: relative;
    opacity: 0;
    transition: opacity .2s;
    margin-left: 10px;
}

#header .navbar.navigating .brand h1 {
    opacity: 1;
}
    
#header .navbar .hamburger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
}

#header.hidden .navbar .hamburger {
    transform: translateX(100px);
}

#header .navbar .hamburger .bar {
    position: relative;
    width: 25px;
    height: 3px;
    background-color: white;
}

#header .navbar .hamburger .bar::before,
#header .navbar .hamburger .bar::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

#header .navbar .hamburger .bar::before {
    bottom: 7px;
    transition: bottom .3s;
}

#header .navbar .hamburger.active .bar::before {
    bottom: 0px;
}

#header .navbar .hamburger .bar::after {
    top: 7px;
    transition: top .3s;
}

#header .navbar .hamburger.active .bar::after {
    top: 0px;
}

#header .navbar .navlist {
    position: absolute;
    top: 0;
    left: 100vw;
    width: 100vw;
    transition: left .5s;
    transition-delay: .2s;
    height: 100vh;
    background-color: var(--background_color_dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#header .navbar .navlist.active {
    left: 0;
    transition-delay: 0s;
}

#header .navbar .navlist li {
    padding: 2.5rem;
}

#header .navbar .navlist li a {
    font-size: 3.5rem;
}

/* ----------------------------------------     HERO     ---------------------------------------- */


/* ----------------------------------------  EDUCATION   ---------------------------------------- */


}