#guitar {
    .blogpage {
        #hero {
            background-image: url(../../assets/img/guitar/guitar_hero.jpg);
        }

        #descr {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;

            .profileimg {
                flex-shrink: 0;
                width: 300px;
                height: 400px;
                margin-right: 20px;
                background-image: url(../../assets/img/guitar/guitar1.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                box-shadow: 5px 5px 5px var(--shadow_color);
            }
        }

        section {
            iframe {
                display: block;
                margin: 20px auto;

                &.la-la-land-video {
                    width: 960px;
                    height: 540px;
                }
                &.disney-video {
                    width: 960px;
                    height: 600px;
                }
            }
        }

        .download-sheet {
            width: fit-content;
            display: flex;
            align-items: center;
            cursor: pointer;

            .fa-layers.fa-fw {
                width: 4.5rem;
                height: 4.5rem;
                margin: 5px;

                .fa-icon-file {
                    font-size: 4.5rem;
                }

                .fa-icon-music {
                    color: var(--color2);
                    transform: translate(-1px, 4px);
                }
            }
        }
    }
}