@media only screen and (max-width: 1366px) {

#guitar {
    .blogpage {
        #descr {
            margin-top: 40px;

            .profileimg {
                width: 220px;
                height: 300px;
            }
        }
    
        section {
            iframe {
                &.la-la-land-video {
                    width: 80vw;
                    height: calc(80vw * 9 / 16);
                }
                &.disney-video {
                    width: 80vw;
                    height: calc(80vw * 10 / 16);
                }
            }
        }
    
        .download-sheet {
            width: fit-content;
            display: flex;
            align-items: center;
            cursor: pointer;

            .fa-layers.fa-fw {
                width: 4.5rem;
                height: 4.5rem;
                margin: 5px;

                .fa-icon-file {
                    font-size: 4.5rem;
                }

                .fa-icon-music {
                    color: var(--color2);
                    transform: translate(-1px, 4px);
                }
            }
        }
    }
}

}