@media only screen and (max-width: 580px) {

#guitar {
    .blogpage {
        #faq {
            display: flex;
            flex-direction: column;

            .profileimg {
                float: none;
                margin-right: 0px;
                margin-bottom: 0px;
                margin-top: 20px;
                order: 1000;
                align-self: center;
            }

            p {
                text-align: center;
            }
        }

        section {
            iframe {
                &.la-la-land-video {
                    width: 85vw;
                    height: calc(85vw * 9 / 16);
                }
                &.disney-video {
                    width: 85vw;
                    height: calc(85vw * 10 / 16);
                }
            }
        }

        .download-sheet .download-sheet-text {
            font-size: 1.4em;
            transform: translateY(1px);
        }
    }
}

}