$name_height: 40px;

.project-thumbnail {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px var(--shadow_color);
    margin: 0px;
    height: fit-content;

    > .space {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        > .background {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: calc(100% + #{$name_height});
            background-size: cover;
            background-position-y: center;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: var(--dark_color);
            opacity: 0;
        }

        .fa-icon {
            font-size: 3rem;
            display: none;
            z-index: 2;
        }

        @media (any-hover: hover) {

            > .background {
                transition: transform .4s ease-out;
            }
    
            &::after {
                transition: opacity .2s linear;
            }
    
            .fa-icon {
                display: initial;
                transform: translateY(-100%);
                opacity: 0;
                transition: transform .4s ease-out, opacity .2s .1s linear;
            }
    
            &:hover {
                > .background {
                    transform: scale(1.04);
                    filter: blur(2px);
                }
    
                &::after {
                    opacity: 0.9;
                }
    
                .fa-icon {
                    transform: translateY(0%);
                    opacity: 0.8;
                    transition: transform .4s ease-out, opacity .2s linear;
                }
            }
        }
    }

    > h2 {
        height: $name_height;
        background-color: rgba(0, 0, 0, 0.85);
        text-align: center;
        line-height: $name_height;
        z-index: 2;
        justify-self: end;
    }
}