.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 152px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 3px 3px 5px var(--shadow_color);
    border-radius: 2%;

    > .skill-icon {
        width: 80px;
        height: 80px;
        margin: 20px;
        background-size: cover;
    }

    > .skill-name {
        color: black;
        font-weight: 600;
        text-align: center;
        margin: 6px;
        font-size: 1.5rem;
    }

    @media (any-hover: hover) {
        transition: background-color .1s linear;

        > .skill-icon {
            transition: transform .2s ease-out;
        }

        &:hover {
            background-color: white;

            > .skill-icon {
                transform: scale(1.05);
            }
        }
    }
}

.icon-angular {
    background-image: url(../../../../../assets/img/skills/angular.svg);
}

.icon-cplusplus {
    background-image: url(../../../../../assets/img/skills/cplusplus.svg);
}

.icon-csharp {
    background-image: url(../../../../../assets/img/skills/csharp.svg);
}

.icon-css {
    background-image: url(../../../../../assets/img/skills/css.svg);
}

.icon-dapr {
    background-image: url(../../../../../assets/img/skills/dapr.svg);
}

.icon-docker {
    background-image: url(../../../../../assets/img/skills/docker.svg);
}

.icon-dotnet {
    background-image: url(../../../../../assets/img/skills/dotnet.svg);
}

.icon-envoy {
    background-image: url(../../../../../assets/img/skills/envoy.svg);
}

.icon-git {
    background-image: url(../../../../../assets/img/skills/git.svg);
}

.icon-html {
    background-image: url(../../../../../assets/img/skills/html.svg);
}

.icon-java {
    background-image: url(../../../../../assets/img/skills/java.svg);
}

.icon-matlab {
    background-image: url(../../../../../assets/img/skills/matlab.png);
}

.icon-postgresql {
    background-image: url(../../../../../assets/img/skills/postgresql.svg);
}

.icon-python {
    background-image: url(../../../../../assets/img/skills/python.svg);
}

.icon-react {
    background-image: url(../../../../../assets/img/skills/react.svg);
}

.icon-sass {
    background-image: url(../../../../../assets/img/skills/sass.svg);
}

.icon-sqlserver {
    background-image: url(../../../../../assets/img/skills/sqlserver.svg);
}

.icon-typescript {
    background-image: url(../../../../../assets/img/skills/typescript.svg);
}

.icon-visualstudio {
    background-image: url(../../../../../assets/img/skills/visualstudio.svg);
}

.icon-vscode {
    background-image: url(../../../../../assets/img/skills/vscode.svg);
}