#settings {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    right: 0px;
    z-index: 15;
    pointer-events: none;

    &.active {
        > ul.flags {
            pointer-events: all;

            > li {
                opacity: 1;
                transform: translateY(0px);

                &.it.active {
                    filter: drop-shadow(0 0 3px white);
                }
                &.en.active {
                    filter: drop-shadow(0 0 3px lighten(blue, 30%));
                }
                &.es.active {
                    filter: drop-shadow(0 0 3px lighten(red, 30%));
                }
            }
        }

        > .themeToggler {
            pointer-events: all;
            opacity: 1;
            transform: translateY(0px);
        }

        > .settings-button {
            opacity: 1;
            transform: translateX(0%) rotateZ(120deg);
        }
    }

    > ul.flags {
        display: flex;
        margin: 0px 50px 0px 40px;

        > li {
            padding: 5px;
            cursor: pointer;
            opacity: 0;
            transform: translateY(calc(100% + 11px));
            -webkit-tap-highlight-color: transparent;
            
            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    transition: filter .2s, transform .2s calc(#{$i} * .1s) ease-in-out, opacity .2s calc(#{$i} * .1s) linear;
                }
            }
        }

        img {
            width: 60px;
            height: 36px;
        }
    }

    > .themeToggler {
        width: 60px;
        height: 30px;
        background-color: var(--dark_color);
        border-radius: 30px;
        opacity: 0;
        transform: translateY(calc(100% + 15px));
        transition: transform .2s, opacity .2s, background-color .3s, filter .3s;
        cursor: pointer;
        filter: drop-shadow(0 0 2px whitesmoke);
        -webkit-tap-highlight-color: transparent;

        &.green-mode {
            .dot {
                left: calc(100% - 22px - 4px);
            }
            
            .fa-icon {
                &.green {
                    opacity: 1;
                }

                &.blue {
                    opacity: 0;
                }
            }
        }

        .dot {
            position: absolute;
            top: 4px;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: whitesmoke;
            left: 4px;
            transition: background-color .3s, left .3s;
        }

        .fa-icon {
            position: absolute;
            width: 16px;
            height: 16px;
            top: calc((22px - 16px) / 2);
            left: calc((22px - 16px) / 2);
            transition: opacity .1s;
            color: var(--dark_color);
            filter: drop-shadow(0 0 1px var(--dark_color));

            &.green {
                opacity: 0;
            }

            &.blue {
                opacity: 1;
            }
        }
    }

    > .fullscreen-toggler {
        display: none;
        -webkit-tap-highlight-color: transparent;
    }

    > .settings-button {
        pointer-events: all;
        opacity: 0.4;
        margin: 15px;
        font-size: 3rem;
        cursor: pointer;
        transition: transform .5s ease-in-out, opacity .1s linear;
        transform: translateX(0%) rotateZ(0deg);
        -webkit-tap-highlight-color: transparent;

        &.hidden {
            transform: translateX(calc(100% + 15px)) rotateZ(0deg);
        }
    
        @media (any-hover: hover) {
            &:hover {
                opacity: 1;
            }
        }
    }
}