@media only screen and (max-width: 1366px) {

#settings {
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    left: 0;
    bottom: 0;
    margin-bottom: 10px;

    &.active {
        > .settings-button {
            transition: left .3s ease-in-out, transform .3s ease-in-out, opacity .1s;
            transform: rotateZ(120deg);
        }
    }

    > ul.flags {
        right: unset;
        bottom: unset;
        margin: 0px;

        > li {
            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    transition: filter .2s, transform .2s calc(#{$i} * .05s) ease-in-out, opacity .2s calc(#{$i} * .05s) linear;
                }
            }
        }
    }

    > .themeToggler {
        right: unset;
        bottom: unset;
    }

    > .settings-button {
        position: fixed;
        opacity: 0.4;
        font-size: 3rem;
        margin: 0px;
        top: 20px;
        left: 20px;
        cursor: pointer;
        transition: left .3s ease-in-out .4s, transform .3s ease-in-out, opacity .1s;
        transform: rotateZ(0deg);
        
        &.hidden {
            left: -35px;
            transform: rotateZ(0deg);
            transition: left .3s ease-in-out, opacity .1s;
        }
    }
}

}