@media only screen and (max-width: 580px) {

    $line-thickness: 12px;
    $hexagon-size: 56px;
    $ul-margin-vertical: 50px;
    $ul-padding-left: 25px;
    
    #experience {
        .container {
            ul.timeline {
                margin: $ul-margin-vertical auto;
                padding-left: $ul-padding-left;
        
                &::before {
                    top: -$ul-margin-vertical;
                    right: calc(100% - #{$ul-padding-left} - #{($hexagon-size + $line-thickness) / 2});
                    border-width: $line-thickness;
                    height: calc(100% - #{2 * $line-thickness} + #{$ul-margin-vertical * 2});
                }
            
                > li.timeline-item {
                    margin: 10px;
    
                    h2 {
                        font-size: 1.3rem;
                        left: -40px;
                    }
    
                    .experience-container {
                        padding: 5px;
                        margin-left: 5px;

                        .fa-icon {
                            top: unset;
                            bottom: 0;
                        }
    
                        h1 {
                            font-size: 2rem;
                        }
        
                        h3 {
                            font-size: 1.6rem;
                        }

                        div {
                            p.descr {
                                font-size: 1.5rem;
                                text-align: center;
                            }
                        }
                    }
                
                    .hexagon {
                        > .hexagon-content {
                            width: $hexagon-size;
                            height: $hexagon-size;
                        }
                    }
                }
            }
        }
    }
}