@media only screen and (max-width: 1366px) {

$line-thickness: 30px;
$hexagon-size: 120px;
$curve-diameter: 14vw;

@mixin clip-top {
    top: calc(50% - #{$curve-diameter / 2} - #{$line-thickness});
    -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
}

@mixin clip-bottom {
    top: calc(50% - #{$curve-diameter / 2} - #{$line-thickness});
    -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 0%, 0% 0%);
    clip-path: polygon(0% 50%, 100% 50%, 100% 0%, 0% 0%);
}

#experience {
    .container {
        ul.timeline {
    
            &::before,
            &::after {
                content: '';
                position: absolute;
                width: calc(100vw - 100%);
                height: $curve-diameter;
                border-radius: $curve-diameter;
                border: $line-thickness solid var(--color2);
                transition: border .2s;
            }

            &::before {
                @include clip-top;
                right: calc(100% - #{$line-thickness / 2});
            }

            &::after {
                left: calc(100% - #{$line-thickness / 2});
            }

            &.odd-nli {
                &::after {
                    @include clip-top;
                }
            }

            &.even-nli {
                &::after {
                    @include clip-bottom;
                }
            }
        
            > li.timeline-item {
                min-width: 230px;
                width: calc(#{$curve-diameter} + #{$line-thickness});
                margin: 0px #{-$line-thickness / 2};

                .hexagon {   
                    > .hexagon-content {
                        width: $hexagon-size;
                        height: $hexagon-size;
                    }
                }

                &::before {
                    width: calc(100% - #{2 * $line-thickness});
                    height: calc(100% - #{2 * $line-thickness});
                    border: $line-thickness solid var(--color2);
                }
            }
        }
    }
}
}