@media only screen and (max-width: 1366px) {

#skill-preview {
    width: calc(100% - 15vw);
    margin: auto;
    overflow: hidden;

    > h1 {
        display: none;
    }
}

.skill-preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

}