.section {
    position: relative;
    display: flex;

    > .container {
        position: relative;
        margin: calc(45px + 13rem) 8vw 10px 8vw;
        z-index: 1;
        width: calc(100vw - 8vw * 2);
        min-height: calc(min(100vh, 100vw) - 45px - 13rem - 10px);
    }

    > .section-title {
        position: absolute;
        left: 20px;
        top: 45px;
        font-size: 18rem;
        font-weight: 300;
        opacity: .3;
    }
}