@media only screen and (max-width: 600px) {

.section {
    > .container {
        width: calc(100vw - 4vw * 2);
        margin: calc(65px + 5rem) 4vw 10px 4vw;
    }

    > .section-title {
        top: 65px;
        font-size: 6.5rem;
        left: 4px;
    }
}

}