@media only screen and (max-width: 1366px) {

.section {
    > .container {
        width: calc(100vw - 6vw * 2);
        margin: calc(55px + 10rem) 6vw 10px 6vw;
    }

    > .section-title {
        left: 5px;
        top: 55px;
        font-size: 13rem;
    }
}

}