@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

#error {
    font-size: 2rem;
    white-space: pre-wrap;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex: 1 0 0;

    .container {
        display: inline-block;
        width: 100%;
        height: fit-content;

        h1 {
            font-size: 3rem;
            margin-bottom: 15px;
            text-align: center;
        }
    }

    .keyword {
        color: #569CD6;
    }

    .flowcontrol {
        color: #C586C0;
    }

    .type {
        color: #4EC9B0;
    }

    .method {
        color: #DCDCAA;
    }

    .variable {
        color: #9CDCFF;
    }

    .string {
        color: #CE9178;
    }
}