$line-thickness: 36px;
$hexagon-size: 144px;
$curve-diameter: 16vw;
$line-height: calc(100% - #{$curve-diameter} - #{$hexagon-size * 0.75});

@mixin clip-timeline-item($clip-start, $clip-end) {
    -webkit-clip-path: polygon(0% $clip-start, 100% $clip-start, 100% $clip-end, 0% $clip-end);
    clip-path: polygon(0% $clip-start, 100% $clip-start, 100% $clip-end, 0% $clip-end);
}

@mixin clip-top {
    top: calc(50% - #{$curve-diameter / 2} - #{$line-thickness});
    -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
}

@mixin clip-bottom {
    top: calc(50% - #{$curve-diameter / 2} - #{$line-thickness});
    -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 0%, 0% 0%);
    clip-path: polygon(0% 50%, 100% 50%, 100% 0%, 0% 0%);
}

#experience {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;

        ul.timeline {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: fit-content;
    
            &::before,
            &::after {
                content: '';
                position: absolute;
                width: calc(100vw - 100%);
                height: $curve-diameter;
                border-radius: $curve-diameter;
                border: $line-thickness solid var(--color2);
                transition: border .2s;
            }

            &::before {
                @include clip-top;
                right: calc(100% - #{$line-thickness / 2});
            }

            &::after {
                left: calc(100% - #{$line-thickness / 2});
            }

            &.odd-nli {
                &::after {
                    @include clip-top;
                }
            }

            &.even-nli {
                &::after {
                    @include clip-bottom;
                }
            }
        
            > li.timeline-item {
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: $curve-diameter;
                height: calc(#{$curve-diameter} + #{$line-height});
                margin: 0px #{-$line-thickness / 2};

                h1,
                h2,
                h3 {
                    margin: 10px;
                    white-space: nowrap;
                }

                h2 {
                    font-size: 2.3rem;
                }

                div.box {
                    text-align: center;
                    width: 150%;
                    background-color: var(--box_color1_opaque);
    
                    h3 {
                        font-size: 1.8rem;
                        font-weight: 300;
                    }
                }
            
                .hexagon {
                    transition: filter .3s;
                    cursor: pointer;
                    &:hover {
                        filter: drop-shadow(0 0 4px var(--color2));
                    }
                    
                    > .hexagon-content {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        -webkit-clip-path: polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0%);
                        clip-path: polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0%);
                        width: $hexagon-size;
                        height: $hexagon-size;
                        background-color: var(--color2);
                        transition: background-color .2s;

                        > .hexagon-image {
                            -webkit-clip-path: polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0%);
                            clip-path: polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0%);
                            width: 90%;
                            height: 90%;
                        }
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: calc(100% - #{2 * $line-thickness});
                    height: calc(100% - #{2 * $line-thickness});
                    border: $line-thickness solid var(--color2);
                    border-radius: $curve-diameter;
                    transition: border .2s;
                }

                &:nth-child(2n + 1) {
                    flex-direction: column;
    
                    .hexagon {
                        margin-top: -#{$hexagon-size / 4 + $line-thickness / 2};
                    }

                    &::before {
                        -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 0%, 0% 0%);
                        clip-path: polygon(0% 50%, 100% 50%, 100% 0%, 0% 0%);
                    }
                }
                &:nth-child(2n) {
                    flex-direction: column-reverse;
        
                    .hexagon {
                        margin-bottom: -#{$hexagon-size / 4 + $line-thickness / 2};
                    }

                    &::before {
                        -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
                        clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
                    }
                }
            }
        }
    }
}