@mixin clip-timeline-item($clip-start, $clip-end) {
    -webkit-clip-path: polygon(0% $clip-start, 100% $clip-start, 100% $clip-end, 0% $clip-end);
    clip-path: polygon(0% $clip-start, 100% $clip-start, 100% $clip-end, 0% $clip-end);
}

#experience {
    $line-thickness: 34px;
    $hexagon-size: 140px;
    $curve-diameter: 15vw;
    $line-height: calc(100% - #{$curve-diameter} - #{$hexagon-size * 0.75});

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 100vw;
            height: $curve-diameter;
            border-radius: $curve-diameter;
            border: $line-thickness solid var(--color2);
        }

        &::after {
            right: 100%;
        }

        &::before {
            display: none;
        }
    
        > li.timeline-item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: $curve-diameter;
            height: calc(#{$curve-diameter} + #{$line-height});
            border-radius: $curve-diameter;
            border: $line-thickness solid var(--color2);
            margin: 0px #{-$line-thickness / 2};
            transition: border .2s;
        
            .hexagon {
                -webkit-clip-path: polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0%);
                clip-path: polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0%);
                width: $hexagon-size;
                height: $hexagon-size;
                background-color: var(--color1);
                transition: background-color .2s;
            }
    
            &:nth-child(2n + 1) {
                @include clip-timeline-item(-$hexagon-size, 52%);

                .hexagon {
                    margin-top: -#{$hexagon-size * 0.75 - $line-thickness};
                }
            }
    
            &:nth-child(2n) {
                @include clip-timeline-item(48%, calc(100% + #{$hexagon-size}));
                justify-content: flex-end;
    
                .hexagon {
                    margin-bottom: -#{$hexagon-size * 0.75 - $line-thickness};
                    order: 10;
                }
            }
        }
    }
}