@media only screen and (max-width: 1024px) {

$line-thickness: 16px;
$hexagon-size: 100px;
$ul-margin-vertical: 70px;
$ul-padding-left: 15px;

#experience {
    .container {
        justify-content: flex-start;
        ul.timeline {
            flex-direction: column;
            width: 100%;
            height: fit-content;
            margin: $ul-margin-vertical auto;
            padding-left: $ul-padding-left;
    
            &::before {
                width: 400px;
                top: -$ul-margin-vertical;
                right: calc(100% - #{$ul-padding-left} - #{($hexagon-size + $line-thickness) / 2});
                border-width: $line-thickness;
                height: calc(100% - #{2 * $line-thickness} + #{$ul-margin-vertical * 2});
                -webkit-clip-path: none;
                clip-path: none;
            }

            &::after {
                display: none;
            }
        
            > li.timeline-item {
                display: flex;
                align-items: center;
                min-width: unset;
                max-height: unset;
                width: 100%;
                flex-direction: row-reverse !important;
                margin: 10px;

                h1,
                h3 {
                    width: unset;
                    transition: none;
                }

                h2 {
                    position: absolute;
                    font-size: 1.5rem;
                    left: -50px;
                    text-align: center;
                }

                div.box {
                    margin-left: 40px;
                    width: 100%;

                    h3 {
                        > span {
                            display: none;
                        }
                    }

                    div {
                        p:not(.descr) {
                            display: block;
                            width: 100%;
                            text-align: center;
                            display: inline-block;
                            text-transform: uppercase;
                            font-size: 1.6rem;
                        }

                        p.descr {
                            padding: 0px;
                            transition: padding 1.5s;
                        }
                    }
                }
            
                .hexagon {
                    margin: 0px !important;
                    
                    > .hexagon-content {
                        width: $hexagon-size;
                        height: $hexagon-size;
                    }
                }

                &::before {
                    display: none;
                }

                &.active {
                    div.box {
                        h1,
                        h3 {
                            width: unset;
                            transition: unset;
                        }
                    }
                }
            }
        }
    }
}
}