@media only screen and (max-width: 600px) {

    $line-thickness: 12px;
    $hexagon-size: 56px;
    $ul-margin-vertical: 50px;
    $ul-padding-left: 25px;
    
    #experience {
        .container {
            ul.timeline {
                margin: $ul-margin-vertical auto;
                padding-left: $ul-padding-left;
        
                &::before {
                    top: -$ul-margin-vertical;
                    right: calc(100% - #{$ul-padding-left} - #{($hexagon-size + $line-thickness) / 2});
                    border-width: $line-thickness;
                    height: calc(100% - #{2 * $line-thickness} + #{$ul-margin-vertical * 2});
                }
            
                > li.timeline-item {
                    margin: 10px;
    
                    h2 {
                        font-size: 1.3rem;
                        left: -40px;
                    }
    
                    div.box {
                        margin-left: 5px;
    
                        h1,
                        h3 {
                            width: unset;
                            transition: none;
                        }
    
                        h1 {
                            font-size: 2rem;
                        }
        
                        h3 {
                            font-size: 1.6rem;
    
                            > span {
                                display: none;
                            }
                        }

                        div {
                            p:not(.descr) {
                                width: 100%;
                                text-align: center;
                                display: inline-block;
                                text-transform: uppercase;
                                font-size: 1.6rem;
                            }
                        
                            p.descr {
                                font-size: 1.5rem;
                                padding: 0px;
                                transition: padding 1.5s;
                            }
                        }
                    }
                
                    .hexagon {
                        margin: 0px !important;
                        
                        > .hexagon-content {
                            width: $hexagon-size;
                            height: $hexagon-size;
                        }
                    }
    
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    }