@media only screen and (max-width: 1366px) {

.neon1.animated {
    animation: neon1_mobile .3s;
}

.neon2.animated {
    animation: neon2_mobile .3s;
}

.neon1.fa-icon.animated {
    animation: neon1_fa-icon_mobile .3s;
}

.neon2.fa-icon.animated {
    animation: neon2_fa-icon_mobile .3s;
}


}