$back-container_margin: 10px;
$back-container_font-size: 4rem;
$back-container_size: calc(#{$back-container_margin} + 2 * #{$back-container_font-size});

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 10px 0px 10px;
    animation: fade_in .2s;
    z-index: 20;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (orientation: landscape) and (max-width: 1366px) {
        padding: 10px 0px 10px 10px;
        flex-direction: row;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }

    &.closing {
        animation: fade_out .2s forwards;
    }

    .modal-container {
        width: 100%;
        height: calc(100% - 4rem - 10px);
        overflow: hidden;

        @media (orientation: landscape) and (max-width: 1366px) {
            width: calc(100% - #{$back-container_size});
            height: 100%;
        }
    }

    .back-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: $back-container_size;

        @media (orientation: landscape) and (max-width: 1366px) {
            width: $back-container_size;
            margin-top: 0;
            height: 100%;
        }

        .fa-icon {
            font-size: $back-container_font-size;
            cursor: pointer;
        }
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade_out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}