@media only screen and (max-width: 580px) {

$back-container_margin: 5px;
$back-container_font-size: 3.5rem;
$back-container_size: calc(#{$back-container_margin} + 2 * #{$back-container_font-size});

.modal {
    padding: 5px 5px 0px 5px;

    @media (orientation: landscape) {
        padding: 5px 0px 5px 5px;
        flex-direction: row;
    }

    .modal-container {
        height: calc(100% - #{$back-container_size});

        @media (orientation: landscape) {
            width: calc(100% - #{$back-container_size});
        }
    }

    .back-container {
        height: $back-container_size;

        @media (orientation: landscape) {
            width: $back-container_size;
        }

        .fa-icon {
            font-size: $back-container_font-size;
        }
    }
}

}