@media only screen and (max-width: 580px) {
    
$back-container_margin: 10px;
$back-container_font-size: 4rem;
$back-container_size: calc(#{$back-container_margin} + 2 * #{$back-container_font-size});

.modal {
    @media (orientation: landscape) {
        padding: 10px 0px 10px 10px;
        flex-direction: row;
    }

    .modal-container {
        @media (orientation: landscape) {
            width: calc(100% - #{$back-container_size});
            height: 100%;
        }
    }

    .back-container {
        @media (orientation: landscape) {
            width: $back-container_size;
            margin-top: 0;
            height: 100%;
        }
    }
}

}