@media only screen and (max-width: 600px) {

#skill-content {
    > .skill-details-content {
        .skill-item {
            margin: 10px 15px 10px 10px;
        }

        > .skill-brief {
            > h2 {
                display: none;
            }

            > h3 {
                > span {
                    display: block;
                }
            }
        }

        > p {
            clear: both;
        }

        > .skill-descr {
            margin-top: 5px;
        }
    }

    > h1 {
        margin-top: 0px;
    }

    > .skill-projects-content {
        ul.skill-projects-list {
            grid-template-columns: 1fr;
        }
    }
}

}