$background_color: rgb(40, 40, 40);
$text_color: whitesmoke;

$blue_theme: (
    "color1": rgb(0, 255, 255),
    "color2": rgb(20, 140, 210),
    "color_dark": rgb(10, 30, 80),
    "box_color1": rgba(80, 80, 80, 0.8),
    "box_color1_opaque": rgba(90, 90, 90, 0.95),
    "box_color2": rgba(20, 140, 210, 0.8),
    "box_color2_opaque": rgba(20, 140, 210, 0.95),
    "navbar_navigation_color": rgb(40, 60, 70),
    "background_color_dark": rgb(0, 20, 40),
    "background_color_darker": rgb(0, 7, 15),
    "highlight_color": rgb(255, 183, 183)
);

$green_theme: (
    "color1": rgb(0, 255, 200),
    "color2": rgb(32, 106, 93),
    "color_dark": rgb(10, 50, 20),
    "box_color1": rgba(80, 80, 80, 0.8),
    "box_color2": rgba(32, 106, 93, 0.8),
    "navbar_navigation_color": rgb(40, 70, 60),
    "background_color_dark": rgb(0, 22, 11),
    "background_color_darker": rgb(0, 8, 4),
    "highlight_color": rgb(230, 210, 150)
);

html {
    background-color: $background_color;
}

body {
    @each $name, $color in $blue_theme {
        --#{$name}: #{$color}
    }
    --shadow_color: rgba(20, 20, 20, 0.6);
    --navbar_hero_color: rgba(20, 20, 20, 0.5);

    background-color: $background_color;
    color: $text_color;
}

body.green-mode {
    @each $name, $color in $green_theme {
        --#{$name}: #{$color}
    }
}

a {
    transition: color .2s;
    color: $text_color;
}

@media only screen and (max-width: 1366px) {

body {
    --navbar_hero_color: transparent;
}

}