@media only screen and (max-width: 600px) {

#about {
    > .container {
        > .profile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                align-self: center;
            }

            > img {
                order: 3;
                grid-row: unset;
                grid-column: unset;
                justify-self: unset;
                margin: 0px;
            }

            > div {
                > p {
                    order: 1;
                    grid-row: unset;
                    grid-column-start: unset;
                    grid-column-end: unset;
                }

                > div {
                    order: 2;
                    grid-row: unset;
                    grid-column: unset;
                    padding-left: 0px;
                    padding-right: 0px;
                    margin-left: 0px;
                    margin-right: 0px;
                    width: 100%;

                    > .social {
                        display: inline-flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        > .icons > a {
                            margin: 10px 5px 0px 5px;
                        }
                    }

                    > .contacts {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-items: center;
                        align-items: center;
                        width: 100%;

                        
                        .fa-icon {
                            min-width: unset;
                            margin: 0px 4px 0px 4px;
                        }
                    }
                }
            }
        }
    }
}

}