$color1: aqua;
$color2: rgb(20, 140, 210);
$box_color1: rgba(90, 90, 100, 0.8);
$box_color2: rgba(20, 140, 210, 0.8);
$shadow_color: rgba(20, 20, 20, 0.6);

body.light-mode {
    $color1: red;
    $color2: red;
    $box_color1: rgba(90, 90, 100, 0.7);
    $box_color2: red;
    $shadow_color: rgba(20, 20, 20, 0.6);
}

@mixin noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noselect {
    @include noselect;
}

.neon1,
.neon2 {
    transition: color .3s;
}

.neon1.animated,
.neon2.animated {
    animation: neon .3s;
}

.neon1.fa-icon.animated,
.neon2.fa-icon.animated {
    animation: neon_fa-icon .3s;
}

.box {
    position: relative;
    padding: 10px;
    background-color: $box_color1;
    box-shadow: 5px 5px 5px $shadow_color;

    .box-heading {
        font-size: 3rem;
        font-weight: 400;
    }
}

ul {
    list-style: none;
}

@media (any-hover: hover) {
    .neon_activator:hover .neon1,
    .neon_activator.neon1:hover {
        color: $color1 !important;
    }

    .neon_activator:hover .neon2,
    .neon_activator.neon2:hover {
        color: $color2 !important;
    }
}

@keyframes neon {
    50% {
        text-shadow: 0 0 1rem $color2;
    }
    100% {
        text-shadow: 0 0 0rem $color2;
    }
}

@keyframes neon_fa-icon {
    50% {
        filter: drop-shadow(0 0 0.5rem $color2);
    }
    100% {
        filter: drop-shadow(0 0 0rem $color2);
    }
}

@keyframes neon1_mobile {
    50% {
        text-shadow: 0 0 1rem $color2;
        color: $color1;
    }
    100% {
        text-shadow: 0 0 0px $color2;
    }
}

@keyframes neon2_mobile {
    50% {
        text-shadow: 0 0 1rem $color2;
        color: $color2;
    }
    100% {
        text-shadow: 0 0 0px $color2;
    }
}