#skills {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

#skill-list,
#skill-preview {
    .box-heading {
        margin: 5px 0px 0px 10px;
    }
}