$border-margin: 6vw;

@media only screen and (max-width: 1366px) {

.section {
    > .container {
        width: calc(100vw - #{$border-margin * 2});
        margin: calc(55px + 10rem) $border-margin 10px $border-margin;
    }

    > .section-title {
        left: 5px;
        top: 55px;
        font-size: 11.5rem;
    }
}

}