$border-margin: 4vw;

@media only screen and (max-width: 580px) {

.section {
    > .container {
        width: calc(100vw - #{$border-margin * 2});
        margin: calc(65px + 5rem) $border-margin 10px $border-margin;
    }

    > .section-title {
        top: 65px;
        font-size: 6.5rem;
        left: 4px;
    }
}

}