@media only screen and (max-width: 600px) {

#education {
    > .container {
        > ul {
            > li {
                position: relative;
                display: block;

                > a {
                    float: left;
                    margin: 0px 6px 6px 0px;

                    > img {
                        width: 68px;
                        padding: 4px;
                    }
                }

                > .edu-descr {
                    display: contents;
                    margin: unset;

                    > h1 {
                        font-size: 1.8rem;
                    }

                    > h3 {
                        font-size: 2rem;
                    }

                    > p {
                        display: block;
                        clear: left;
                    }
                }
            }
        }
    }
}

}