@media only screen and (max-width: 580px) {

#skill-content {
    .skill-details-content {
        .skill-brief {
            > h2 {
                display: none;
            }
        
            > h3 {
                > span {
                    display: block;
                }
            }
        }

        .skill-descr {
            margin-top: 5px;
            clear: both;
        }
    }

    > h1 {
        margin-top: 0px;
    }

    > .skill-projects-content {
        ul.skill-projects-list {
            grid-template-columns: 1fr;
        }
    }
}

}