.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade_in .1s;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;

    &.closing {
        animation: fade_out .1s forwards;
    }
}

.cross-fade-leave {
    opacity: 1;
}

.cross-fade-leave.cross-fade-leave-active {
    opacity: 0;
    transition: opacity .15s ease-in;
}

.cross-fade-enter {
    opacity: 0;
}

.cross-fade-enter.cross-fade-enter-active {
    opacity: 1;
    transition: opacity .15s ease-in;
}

@keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade_out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}