.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade_in .1s;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 20;

    &.closing {
        animation: fade_out .1s forwards;
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade_out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}