$ig-blue: var(--color2);


@import "~react-image-gallery/styles/scss/image-gallery.scss";


#drone {
    .blogpage {

        #hero {
            background-image: url(../../assets/img/drone/drone_hero.jpg);
        }

        #descr {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;

            .descr-img {
                max-width: 800px;
                margin-top: 30px;
            }
        }

        #gallery {
            display: flex;
            flex-direction: column;


            .image-gallery {
                width: 90%;
                align-self: center;
    
                .image-gallery-slide-wrapper {
                    background-color: black;
                }

                .image-gallery-content:not(.fullscreen) {
                    .image-gallery-image {
                        max-height: 70vh;
                    }
                }
                .image-gallery-content.fullscreen {
                    .image-gallery-image {
                        max-height: 86vh;
                    }
                }

                .image-gallery-thumbnail {
                    cursor: pointer;
                }

                .image-gallery-thumbnails-container {
                    cursor: default;
                }
            }
        }

        section {
            iframe {
                display: block;
                margin: 20px auto;

                &.snow-video {
                    width: 960px;
                    height: 540px;
                }
            }
        }
    }
}