@mixin rocket-on {
    filter: drop-shadow(0 0 5px var(--color2));
    .rocket-circle {
        fill: var(--color1);
    }

    .rocket-flame {
        opacity: 1;
        transform: translateY(0px);
        transition: transform .3s, opacity .3s;
    }
}

#footer {
    position: relative;
    background-color: var(--background_color_dark);
    margin-top: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    transition: background-color .2s, filter .2s;
    width: 100%;

    .sitemap {
        position: relative;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
        > div {
            display: flex;
            justify-content: center;
            ul {
                font-size: 1.3rem;
                list-style: square;
                list-style-position: inside;
            }
        }
    }

    .center {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        font-size: 1.5rem;
        padding: 20px 20px 10px 20px;

        .rocket-container {
            cursor: pointer;
            position: absolute;
            top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .rocket {
                width: 80px;
                height: 80px;
                fill: var(--background_color_darker);
                transition: filter .3s;

                .rocket-circle {
                    transition: fill .3s;
                }

                .rocket-flame {
                    transform: translateY(-40px);
                    opacity: 0;
                    transition: transform .3s .3s, opacity .3s;
                    fill: var(--color1);
                }
            }
            
            @media (any-hover: hover) {
                &:hover {
                    .rocket {
                        @include rocket-on;
                    }
                }
            }
        }

        .madeby {
            display: flex;
            align-items: center;
            flex-direction: column;

            > div {
                display: flex;
                align-items: center;
                
                a {
                    display: flex;
                    align-items: center;
    
                    .fa-icon {
                        font-size: 2rem;
                        margin: 3px;
                    }
        
                    @media (any-hover: hover) {
                        .fa-icon {
                            transition: filter .3s;
                        }
                        
                        &:hover {
                            .fa-icon {
                                filter: drop-shadow(0 0 0.5rem var(--color1));
                            }
                        }
                    }
                }
            }
        }
    }

    .feedback {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        p {
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 15px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60%;
            max-width: 45rem;

            input[type=text],
            input[type=text]:active,
            select,
            select:active,
            textarea,
            textarea:active {
                width: 100%;
                font-size: 1.5rem;
                padding: 5px;
                border: none;
                background-color: var(--background_color_darker);
                color: whitesmoke;
            }

            textarea {
                width: 100%;
                resize: vertical;
                grid-column: 1 / 3;
            }

            button {
                background-color: transparent;
                color: white;
                border: none;
                margin-top: 10px;
                font-size: 3rem;
                cursor: pointer;
                width: fit-content;
            }

            > div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 3px;
                column-gap: 3px;
                margin-bottom: 3px;
            }
        }
    }

    @keyframes rocket-fire {
        from {
            transform: translateY(68vh) scale(1);
            position: fixed;
            opacity: 1;
        }
        to {
            transform: translateY(-150vh) scale(10);
            position: fixed;
            opacity: 1;
        }
    }

    @keyframes fade_in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

body.rocket-fire #footer .center .rocket-container {
    .up {
        visibility: hidden;
    }
    .rocket {
        @include rocket-on;
    }

    animation: rocket-fire 1.1s linear;
    z-index: 30;
}