#skill-list {
    display: flex;
    flex-direction: column;

    > li {
        margin: 8px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 800px;

        > ul.icons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 8px;
            align-self: center;

            > li {
                margin: 5px;
                cursor: pointer;
            }
        }
    }

    > li:nth-child(1) {
        margin-top: 0px;
    }

    > li:nth-last-child(1) {
        margin-bottom: 0px;
    }
}