@media only screen and (max-width: 580px) {

.blogpage {

    #hero {
        h1 {
            max-width: 90%;
        }
    }

    .blog-section {
        width: 85vw;

        h1 {
            font-size: 1.8em;
        }
        
    }

    section {
        padding-top: 70px;
    }
}
    
}