@media only screen and (max-width: 1366px) {

.blogpage {
    font-size: 1.8rem;
    
    #hero {
        max-height: 50vh;

        h1 {
            max-width: 70%;
        }
    }

    .blog-section {
        width: 80vw;
    }
}

}